<div *ngIf = "selectedPerson">
<h2> {{ selectedPerson.name }} </h2>
</div>
<h2>
  <ul class = "people">
    <li *ngFor = "let person of people"
     (click) = "onSelect(person)"
     [class.selected] = "hero === selectedHero">
      <span class = "badge"> {{ person.id }} </span> {{person.name}} </li>
  </ul>
</h2>
